.form-check {
    margin: 24px 0;
}

.form-check .MuiFormControlLabel-label {
    font-size: 12px;
}

.form-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-documento {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-documento__select {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.form-documento__text {
    width: 100% !important;
}

.form-documento__text > .MuiInputBase-root {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}